/* CheckOutPage.css */

.checkout-section {
    display: flex;
    
}

.left-column {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    padding-top: 3rem;
}

.infoAboutChanges {
    width: 80%;
    display: flex;
    margin-bottom: 1rem;
}

.black-box {
    width: 15%;
    height: 80px;
    background-color: black;
}

.white-box {
    width: 85%;
    background-color: white;
    text-align: start;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.cartPrev {
    width: 80%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
}

.view-cart-button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.cartDetails {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.product-image {
    width: 160%; /* Ajustar el ancho para que ocupe un 30% del contenedor */
    padding: 10px;
    background-color: white;
    border-right: 2px solid black;

}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
}

.infoProductCheckOut {
    width: 100%; /* Ajustar para ocupar el restante 70% */
    height: 100%;
    /* padding-bottom: 2.7rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.product-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px solid black;
    gap: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 1.2rem;
}

.upperInformation {
    display: flex;
    flex-direction: column;
    padding-bottom: 16rem;
    
}

.color-size {
    display: flex;
    justify-content: space-between;
}

.quantity-price {
    display: flex;
    justify-content: space-between;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
}

.favorites-button, .remove-button {
    width: 50%;
    background-color: white;
    color: black;
    border: none;
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
    cursor: pointer;
    
}

.favorites-button {
    border-right: 1px solid black;
}

.favorites-button:hover, .remove-button:hover {
    background-color: black;
    color: white;
}

.checkout-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 1.3rem;
    padding-right: 16.5rem;
    padding-bottom: 3rem;
}

.checkout-button {
    width: 20%;
    height: 80px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: white;
    color: black;
}

.right-column {
    width: 230%;
    /* Puedes agregar estilos adicionales para la columna derecha si es necesario */
}

.header-finalBuying {
    width: 100%;
    border-bottom: 1px solid black;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
}

.deliverySpendings {
    padding-top: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.deliverySpendings div{
    padding-top: 0;
    padding-bottom: 4rem;
}

.finalPrice {
    padding-top: 5.1rem;
    display: flex;
    justify-content: space-between;
}

.finalPriceCheckOut {
    display: flex;
    justify-content: space-between;
    
}

.finalPrice-CheckOut {
    display: flex;
    padding-left: 3.4rem;
    padding-top: 2.2rem;
    padding-right: 1rem;

}


.buyingButtonContainer {
    width: 100%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    justify-content: center;
}

.buyingButtonContainer button{
    width: 80%;
    border-radius: 7px;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border: none;
    background-color: black;
    color: white;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

}

.buyingButtonContainer button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.divCosts {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.divCosts:nth-child(2) {
    padding-top: .7rem;
}

.right-columnInformation {
    width: 200%;
}