html,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scrollVideo {
    margin-bottom: -8.7rem;
    width: 100%;
    object-fit: cover;
}

/* Estilos generales para la sección de nuevos drops */
.newCollections {
    padding: 2rem 4rem;
    text-align: center;
}

.h1Style {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
    font-family: 'Arial', sans-serif;
    padding-top: 3rem;
    padding-bottom: 1.4rem;
}

.newDropsHome {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    margin: 0 auto;
    width: 100%;
}

/* Estilos para el video link */
.videoLink {
    display: block;
    margin: 2rem 0;
    text-align: center;
}

/* Estilos para la sección de video */
.homeVideo {
    width: 100%;
    height: auto;
}

.homeVideo.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* Estilos para el contenedor de video que se desplaza hasta 1000px */
.videoScrollContainer {
    height: 3600px;
    position: relative;
}

.videoWrapper {
    position: sticky;
    top: 0;
    height: auto;
    z-index: 10;
    overflow: hidden;
}

.itemImage {
    width: 20vw;
}

.carruselHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.leftTextContainer {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    text-align: right;
}

.rightCarouselContainer {
    width: 65%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-left: 2rem;
}

/* Carrusel animado en bucle infinito */
.carousel {
    display: flex;
    gap: 2rem;
    animation: scroll 60s linear infinite; /* Mueve el carrusel más despacio (60s) */
    position: relative;
}

.carouselItem {
    flex: 0 0 auto;
    width: 300px; /* Elementos más anchos */
    height: 400px; /* Elementos más altos */
    text-align: center;
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Animación para el carrusel */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Detener la animación cuando se hace hover */
.carousel:hover {
    animation-play-state: paused;
}

/* Duplica el contenido del carrusel para crear un efecto continuo */
.carousel::after {
    content: '';
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
