/* Estilos para el CartContainer */
.cartContainer {
    position: fixed;
    top: -2px; /* Se ajusta para que quede justo debajo del header */
    right: 0;
    width: 50%;
    height: calc(100vh - 54px);
    background-color: #f0f0f0; /* Fondo gris claro */
    color: #333; /* Texto en gris oscuro */
    padding: 2rem;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    
}

/* Estilo para la animación de activación */
.cartContainer.active {
    animation: slideInVertical 0.3s ease forwards;
    
}

/* Botón para cerrar el carrito */
.closeContainer {
    background: none;
    border: none;
    color: #333;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* Estilos para la lista de productos */
.cartContainer ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.cartContainer .cart-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #e0e0e0; /* Línea ligera */
}

.cartContainer .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.cartContainer .cart-item div {
    flex-grow: 1;
}

.cartContainer .cart-item h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #333;
}

.cartContainer .cart-item p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: #666;
}

/* Estilos para el botón de eliminar */
.cartContainer .cart-item button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cartContainer .cart-item button:hover {
    background-color: #000; /* Cambia a negro en el hover */
}

/* Estilos para el total */
.cartContainer .total {
    border-top: 1px solid #e0e0e0;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
}

.cartContainer .total h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

/* Agrega estos estilos al final de cart.css */

.checkout-button {
    background-color: #28a745; /* Color verde */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 0.75rem 1.5rem; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 1rem; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave */
}

.checkout-button:hover {
    background-color: #218838; /* Color más oscuro al hacer hover */
}

.checkout-button:disabled {
    background-color: #ccc; /* Color gris cuando está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
}
