/* Estilo para el contenedor de contacto */
.contactContainer {
    position: fixed;
    top: 54px; /* Se mueve justo debajo del header */
    right: 0; /* Mantiene el carrito en la parte derecha */
    width: 33%;
    height: calc(100vh - 54px); /* Ajuste para que no cubra el header */
    margin-top: 3.1rem; /* Agregado el margen superior */
    background-color: #333;
    color: white;
    padding: 2rem;
    z-index: 999; /* Asegúrate que coincida con el z-index del Header y SideMenu */
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.contactContainer.active {
    top: 54px; /* Se mueve a la vista justo debajo del header */
    animation: slideInVertical 0.3s ease forwards; /* Añadir animación */
}

/* Estilo para el formulario */
.contactContainer form {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
}

.contactContainer input,
.contactContainer textarea {
    margin-bottom: 1rem; /* Espacio entre los campos */
    padding: 0.5rem; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 0.25rem; /* Bordes redondeados */
}

/* Estilo para el botón de envío */
.contactContainer button {
    background-color: #4caf50; /* Color verde */
    color: white; /* Texto blanco */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animación suave en hover */
}

/* Efecto hover en el botón de envío */
.contactContainer button:hover {
    background-color: #45a049; /* Color más oscuro */
}
