/* Estilos para el CartContainer */
.cartContainer {
    position: fixed;
    top: -2px; /* Se ajusta para que quede justo debajo del header */
    right: 0;
    width: 50%;
    height: calc(100vh - 54px);
    background-color: #f0f0f0; /* Fondo gris claro */
    color: #333; /* Texto en gris oscuro */
    padding: 2rem;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilo para la animación de activación */
.cartContainer.active {
    animation: slideInVertical 0.3s ease forwards;
}

/* Botón para cerrar el carrito */
.closeContainer {
    background: none;
    border: none;
    color: #333;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* Estilos para la lista de productos (puedes ajustar o eliminar esto si no es necesario) */
.cartContainer ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

/* Estilo para el botón de eliminar (opcional, según necesites) */
.cartContainer .cart-item button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto hover en el botón de eliminar */
.cartContainer .cart-item button:hover {
    background-color: #000; /* Cambia a negro en el hover */
}
