/* Estilos para el FavouriteContainer */
.favouriteContainer {
    position: fixed;
    top: 54px; /* Se mueve justo debajo del header */
    right: 0; /* Se mantiene en la parte derecha */
    width: 33%;
    height: calc(100vh - 54px); /* Ajuste para que no cubra el header */
    margin-top: 3.1rem; /* Agregado el margen superior */
    background-color: #444; /* Color de fondo diferente */
    color: white;
    padding: 2rem;
    z-index: 999; /* Asegúrate que coincida con el z-index del Header, SideMenu y LoginContainer */
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.favouriteContainer.active {
    top: 54px; /* Se mueve a la vista justo debajo del header */
    animation: slideInVertical 0.3s ease forwards; /* Añadir animación */
}