/* Estilos globales */
html,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Animaciones globales */
@keyframes slideInVertical {
    from {
        transform: translateY(-100%); /* Desliza desde arriba */
    }
    to {
        transform: translateY(0); /* Llega a su posición final */
    }
}

@keyframes slideOutVertical {
    from {
        transform: translateY(0); /* Empieza desde su posición final */
    }
    to {
        transform: translateY(-100%); /* Se desliza hacia arriba y se oculta */
    }
}

@keyframes slideInHorizontal {
    from {
        transform: translateX(-100%); /* Desliza desde la izquierda */
    }
    to {
        transform: translateX(0); /* Llega a su posición final */
    }
}

@keyframes slideOutHorizontal {
    from {
        transform: translateX(0); /* Empieza desde su posición final */
    }
    to {
        transform: translateX(-100%); /* Se desliza hacia la izquierda y se oculta */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Reutilización de la animación de deslizamiento vertical */
.slideInVertical {
    animation: slideInVertical 0.3s ease forwards;
}

.zoomContainer {
    transition: transform 0.3s ease; /* Suaviza la animación de zoom */
    overflow: hidden; /* Evita el desbordamiento si el contenido crece */
    position: relative; /* Para un mejor posicionamiento si se requiere */
}

/* Estilos adicionales para la imagen o video */
.zoomContainer img {
    width: 100%; /* Asegúrate de que la imagen ocupe el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Quita el espacio inferior */
}


.slideOutVertical {
    animation: slideOutVertical 0.3s ease forwards;
}

/* Reutilización de la animación de deslizamiento horizontal */
.slideInHorizontal {
    animation: slideInHorizontal 0.3s ease forwards;
}

.slideOutHorizontal {
    animation: slideOutHorizontal 0.3s ease forwards;
}

/* Contenedor principal del header */
/* Estilo para el Header */
/* Contenedor principal del header */
.headerContainer {
    width: 100%;
    background-color: white; /* Fondo siempre blanco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Cambiado a relative para flujo natural */
    top: 0;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: black; /* Texto siempre negro */
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #dcdcdc;
    z-index: 11;
    
}

/* Elimina estilos de hover para mantener colores constantes */
.headerContainer .logo,
.headerContainer .material-symbols-outlined,
.headerContainer .buttonText,
.headerContainer .button {
    color: black; /* Asegúrate de que los textos e íconos sean negros */
}

.headerContainer .material-symbols-outlined,
.headerContainer .logo{
    font-size: 24px;
}

/* Alineación de los elementos del header */
.headerLeft,
.headerRight {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 3rem;
    padding-right: 3rem;
}



.headerCentral {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

/* Logo */
.logo {
    font-size: 16px;
    color: white; /* Color del logo en estado normal */
    padding-left: 3rem;
}

/* Iconos y textos alineados */
.material-symbols-outlined,
.buttonText {
    font-size: 16px;
    color: white; /* Color de iconos y textos en estado normal */
    display: flex;
    align-items: center;
}

/* Botones generales */
.button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* NUEVOS ESTILOS PARA ANIMACIONES Y ELEMENTOS */
.sideMenu,
.favouriteContainer,
.filterMenu,
.genderMenu {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

header {
    display: flex;
    flex-direction: column;
}

.headerFilter_Container {
    width: 100%;
    background-color: white;
    display: flex;
    margin-top: 5.2rem;
    padding: 0.5rem 0;
    height: 40px;
}

/* Estilos para el botón de filtro */
.headerFilter {
    display: flex;
    width: 97%;
    justify-content: flex-end;
}

.button_filterButton {
    background: none;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 22px;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
    color: black;
    margin-top: 0.5rem;
    cursor: pointer;
}

.button_filterButton:hover {
    border: 2px solid black;
}


.headerFilter h3 {
    font-size: 16px;
}

.button_filterButton {
   
  
}

/* Línea separadora en el header */
/* Línea separadora en el header */


