/* Estilos para el LoginContainer */
.loginContainer {
    position: fixed;
    right: 0; /* Se mantiene en la parte derecha */
    width: 50%;
    height: 100%;
    background-color: white;
    top: 0;
    color: white;
    padding: 2rem;
    z-index: 1001; /* Asegúrate que coincida con el z-index del Header y SideMenu */
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.loginContainer.active {
    animation: slideInVertical 0.3s ease forwards; /* Añadir animación */
}

/* Estilos para el pie de página del LoginContainer */
.login-footer {
    margin-top: 1rem;
    text-align: center;
}

.login-footer a {
    color: #4caf50; /* Color verde para los enlaces */
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline; /* Subrayar en hover */
}