/* Estilos para el componente HeaderSearch */
.searchContainer {
    position: fixed;
    top: -2px; /* Se ajusta para que quede justo debajo del header */
    width: 100%;
    height: auto;
    background-color: #f0f0f0; /* Fondo gris claro */
    color: #333; /* Texto en gris oscuro */
    padding-top: 2rem;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado a flex-start para evitar el espacio extra */
    gap: 1.5rem;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.searchContainer.active {
    opacity: 1;
    transform: translateY(0);
}

.searchContainer.slideOut {
    opacity: 0;
    transform: translateY(-10px); /* Desplazamiento al salir */
}

/* Primer div para la barra de búsqueda */
.searchInputContainer {
    display: flex;
    flex-direction: column; /* Organizar en columnas */
    width: 100%;
    border-bottom: 1px solid black; /* Línea inferior */
    padding: 10px; /* Espaciado alrededor */
    align-items: center;
}

.searchContent {
    width: 80%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    
}

/* Estilos para el input de búsqueda */
.searchBar {
    padding: 0.5rem;
    border-radius: 0.25rem; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde gris claro */
    width: 60%; /* Ancho completo */
    margin-bottom: 10px; /* Espaciado entre el input y el botón */
}

/* Botón de eliminar */
.clearButton {
    border: 1px solid black;
    color: black; /* Texto blanco */
    border-radius: 0.25rem; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animación suave en hover */
}

/* Efecto hover en el botón de eliminar */
.clearButton:hover {
    background-color: black; /* Color más oscuro */
    color: white;
    border: none;
}

/* Segundo div para el texto adicional */
.additionalTextContainer {
    padding: 10px; /* Espaciado alrededor del texto */
    width: 100%; /* Ancho completo */
}

/* Estilos para el botón de búsqueda */
.searchButton {
    background-color: #4caf50; /* Color verde */
    color: white; /* Texto blanco */
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animación suave en hover */
}

/* Efecto hover en el botón de búsqueda */
.searchButton:hover {
    background-color: #45a049; /* Color más oscuro */
}

/* Estilo de botones de filtro */
.filterButton {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    width: 100%;
    text-align: left;
}
